@import "font-mixins";
@import "color-variables";
//buttons
.pc-btn,
.pc-btn-default,
.pc-btn-primary,
.pc-btn-secondary,
.pc-btn-ghost {
    @include FoundationSans();
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0;
    padding: 14px 15px;
    text-align: center;
    text-transform: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
    white-space: nowrap;
}
.pc-btn-default,
.pc-btn-primary {
    background-color: $color-button-primary;
    border: 1px solid $color-button-primary;
    color: $color-text-07;
    text-decoration: none;
    &.hover,
    &:hover {
        background-color: $color-button-primary-hover;
        border: 1px solid $color-button-primary-hover;
        color: $color-text-07;
    }
    &:active,
    &:focus {
        background-color: $color-button-primary-press;
        border: 1px solid $color-button-primary-press;
        color: $color-text-07;
    }
    &:disabled,
    &[disabled] {
        background-color: $color-button-primary-disabled;
        border: 1px solid $color-button-primary-disabled;
        color: $color-text-07;
        cursor: not-allowed;
    }
    &:visited,
    &:visited:hover {
        color: $color-text-07;
        text-decoration: none;
    }
}
.pc-btn-secondary {
    background-color: $color-button-secondary;
    border: 1px solid $color-button-primary;
    color: $color-text-08;
    text-decoration: none;
    &.hover,
    &:hover {
        background-color: $color-button-secondary-hover;
        border: 1px solid $color-text-08;
        color: $color-text-08;
    }
    &:active,
    &:focus {
        background-color: $color-button-secondary-press;
        border: 1px solid $color-button-secondary-press;
        color: $color-text-08;
    }
    &:disabled,
    &[disabled] {
        background-color: $color-button-secondary-disabled;
        border: 1px solid $color-button-secondary-disabled;
        color: $color-text-07;
        cursor: not-allowed;
    }
    &:visited,
    &:visited:hover {
        color: $color-text-08;
        text-decoration: none;
    }
}
.pc-btn-ghost {
    background-color: $color-button-ghost;
    border: 1px solid $color-button-ghost;
    color: $color-text-09;
    &.hover,
    &:hover {
        background-color: $color-button-ghost-hover;
        border: 1px solid $color-button-ghost-hover;
        text-decoration: underline;
        color: $color-text-09;
    }
    &:active,
    &:focus {
        background-color: $color-button-ghost-press;
        border: 1px solid $color-button-ghost-press;
        color: $color-text-09;
    }
    &:disabled,
    &[disabled] {
        background-color: $color-button-ghost;
        border: 1px solid $color-button-ghost;
        color: $color-button-ghost-disabled;
        text-decoration: none;
        cursor: not-allowed;
    }
    &:visited,
    &:visited:hover {
        color: $color-text-09;
    }
}
